html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4{
  color: #1d1d1f;
}

@media  (min-device-width: 481px) {
  .desktop-right-gutter {
    margin-right: 1rem;
  }
  .hide-desktop{
    display: none;
  }
}

@media (max-device-width: 480px) {
  .mobile-expandable-button{
    width: 100%;
  }
  .hide-mobile{
    display: none;
  }
  .mobile-width-100{
    width: 100%;
  }
}

.link{
  color: #0078e7;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px dotted #0078e7;
}

.link:hover{
  border-bottom: 1px solid #0078e7;
  transition: all .4s ease;
}