.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height:none;
}

.header{
  height: 8rem;
  display: flex;
  align-items: center;
}

.main {
  min-height: calc(100vh - 8rem - 8rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  min-height: 8rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1f;
}

.footer a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

