.skeleton{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    flex:1;
}

.error{
    background: #ffdce7;
    height: min-content;
    padding: 2rem;
    font-size: 18px;
    border-radius: 5px;
}

.error__ticker {
    color: darkblue;
}

.tables {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}

.table{
    width: 40%;
    min-height: 400px;
    height: 40%;
    margin-bottom: 5rem;
}

@media only screen and (max-device-width: 480px){
    .table{
        width: 90%;
        min-height: 400px;
        height: 40%;
        margin-bottom: 5rem;
    }
}

.tableHeading{
    margin-top: 0;
    text-align: center;
}

.tableSubHeading{
    margin-top: 0;
    text-align: center;
}

.center{
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    .tableChartContainer {
        margin-left: -1rem;
    }
}

.loading {
    margin-left: 1rem;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    flex-direction: column;
}

.tickers {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.fieldset{
    display: flex
}

@media only screen and (max-device-width: 480px) {
    .fieldset{
        flex-direction: column;
    }
}